<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--引入外部配置文件-->
    <properties resource="db.properties">
        <!--还可以直接在这里使用-->
        <property name="username" value="root"/>
        <property name="password" value="1917723401"/>
    </properties>

    <!--别名,可以给实体类起别名-->
    <typeAliases>
        <!--指定一个包-->
        <package name="com.Demo.pojo"/>
        <!--指定实体类-->
        <!--<typeAlias type="com.Demo.pojo.User" alias="User"/>-->
    </typeAliases>

    <environments default="properties">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;"/>
                <property name="username" value="root"/>
                <property name="password" value="1917723401Syc"/>
            </dataSource>
        </environment>

        <environment id="properties">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/Demo/dao/UserMapper.xml"/>
    </mappers>
</configuration>